<body>
    
<div >
     
  
<div class="container2m ">
	
	  <div class="cen">
	  <span class=" text-center">
	    <h1 class="blue_title" >Wenmmee</h1></br><p id="mottom">
	      The place to ask questions and interact with your favorite Youtubers.
	    </p>
	    </span>
	    <div class="center">
        <a href="/matt"><span class="matt_answer pic_menu"></span></a>
        <a href="/serpentza"><span class="serpentza_answer pic_menu"></span></a>
        <a href="/cmilk"><span class="cmilk_answer pic_menu"></span></a>
        <a href="/prozzie"><span class="prozzie_answer pic_menu"></span></a>
      </div>
	    

	<div class="formBoxm">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<span class="login100-form-title p-b-20 p-t-43 mt-4">
						Account Login
					</span>
	
					
  <div class="wrap-input100">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :id => 'first-name', :class=>"input100", placeholder: "Email"%>
  </div>
  <div class="wrap-input100">
    
    <%= f.password_field :password, autocomplete: "off", :class=>'input100', placeholder: "******" %>
  </div>
    <div id="selection">
  

  <div class="container-login100-form-btn">
    <%= f.submit 'Sign in', :class => 'login100-form-btn' %>
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, :class => 'login100-form-btn loginBtn--google' %>
  </div>
  
  
  
 <p class="float-left"><%= render "devise/shared/links" %></p> 
  

						
				

<%= link_to("Sign Up", "/users/sign_up", :class => 'txt3 float-right pt-1') %>
			
		
<% end %>

</div>
</div>
</div>
</div>
</body>