<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
 

    <title>
      
        Home &middot; 
      
    </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    
    
    

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>

  </head>
    <% unless controller_name == "sessions" %>

   <body class="with-top-navbar">
  

   


<div class="growl" id="app-growl"></div>

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary app-navbar">

  <a class="navbar-brand" href="/">
    <span id="logo">W</span>
  </a>

  <button
    class="navbar-toggler navbar-toggler-right d-md-none"
    type="button"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
      <%if current_user %>
      <li class="nav-item active">
        <%= link_to("Home", "/posts", :class =>'nav-link') %>
      </li>
      
       <li class="nav-item active d-md-none">
       <%= link_to("Profile", "/users/#{current_user.id}", { :class =>'nav-link'}) %>
      </li>
      
      <li class="nav-item  ">
       <%= link_to("Log out", "/users/sign_out", {method: :delete, :class =>'nav-link'}) %>
      </li>
      
        
        
      
      

     
     

    </ul>

   
    
   
    
    <ul id="#js-popoverContent" class="nav navbar-nav float-right mr-0 d-none d-md-flex">
      
  
      <li class="nav-item ml-2">
        <button class="btn btn-default navbar-btn navbar-btn-avatar" data-toggle="popover">
         <%if current_user.image!=nil%>
          <img class="rounded-circle" src="<%=current_user.image%>">
          <%else%>
          <%=link_to (image_tag("user.png")), "/users/#{current_user.id}"%>
          <%end%>
        </button>
      </li>
    </ul>
 <%end%>
    <ul class="nav navbar-nav d-none" id="js-popoverContent">
      <li class="nav-item"><a class="nav-link" href="#" data-action="growl">Growl</a></li>
      <li class="nav-item"><a class="nav-link" href="login/index.html"></a></li>
      
</li>
    </ul>
  </div>
</nav>
<% end %>
 
  <%if notice or alert %>  
 
      <div  class="alert"><%= notice %></div>
  <%end%>
   <%if alert %>  
     <div class="alert"><%= alert %></div>
  <%end%>
    <%=yield%>
  </body>